@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html,button {
    font-family: "Roboto","sans-serif";
}

body {
    margin: 0;
}

a{
    text-decoration: none;
}